.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;

  background-color: #2c2c2c;
  padding: 1px 40px;

  border-radius: 0 0 25px 25px;
  border-bottom: 3px solid #00bfff;
}

.logo img {
  width: 100px;
  height: auto;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 30px;
  margin: 0;
  padding: 0;
}

.nav-links a {
  text-decoration: none;
  font-size: 20px;
  color: white;
  padding: 8px 12px;
  transition: background-color 0.3s, color 0.3s;
}

/* Hover effect */
.nav-links a:hover {
  background-color: white;
  color: gray;
  border-radius: 5px;
}
