.container {
    display: flex;
    gap: 50px;              
    flex-wrap: wrap;        
    justify-content: center;
}

.car {
    width: 320px;
    text-align: center;
}

.car img {
    width: 100%;
    height: 320px;
    object-fit: cover;
}

.price {
    font-weight: bold;
    font-size: 18px;
    margin: 10px 0;
}
