body,
html {
  margin: 0;
  padding: 0;
  height: 100%; 
  overflow-x: hidden;
}


.bg-video {
  position: fixed;
  top: 0;
  left: 0;

  width: 100vw;
  height: 100vh;

  object-fit: cover; 
  object-position: center;

  z-index: -1;
  pointer-events: none;
}

.blur {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  backdrop-filter: blur(2px); 
  background: rgba(0, 0, 0, 0.3); 

  z-index: -1; 
  pointer-events: none;
}

.content {
  position: relative;
  z-index: 1;
  color: white;
  font-size: 2rem;
  text-align: center;
  padding-top: 40vh;
}
/**/

.category-section {
  padding: 40px 20px;
}

.category-container {
  display: flex;
  gap: 25px;
  justify-content: center;
  flex-wrap: wrap;
}

.category {
  width: 150px;
  text-align: center;
  text-decoration: none;
  color: #111;

  background: white;
  padding: 14px;
  border-radius: 14px;

  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.category:hover {
  transform: translateY(-8px) scale(1.05);
  box-shadow: 0 18px 40px rgba(0, 0, 0, 0.25);
}

.category img {
  width: 120px;
  height: 90px;
  object-fit: contain;
}

.category-card span {
  display: block;
  margin-top: 8px;
  font-size: 15px;
  font-weight: 600;
}
/**/
.container {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
}

.car {
  width: 320px;
  background: rgb(126, 121, 121);
  border-radius: 18px;
  overflow: hidden;

  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
  transition: transform 0.5s ease, box-shadow 0.3s ease;
}

.car:hover {
  transform: translateY(-30px);
  box-shadow: 0 20px 45px rgba(0, 0, 0, 0.25);
}

.car img {
  width: 100%;
  height: 320px;
  object-fit: cover;
}

.card-body {
  padding: 16px 18px 20px;
}

.price {
  display: inline-block;
  padding: 6px 12px;
  background: rgb(0, 0, 0);
  color: white;
  font-weight: 600;
  border-radius: 20px;
  font-size: 14px;
}

.title {
  margin: 12px 0 8px;
  font-size: 18px;
  font-weight: 600;
  color: #111;
}

.info {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  font-size: 13px;
  color: #555;
}

.info span {
  background: #f2f2f2;
  padding: 4px 8px;
  border-radius: 8px;
}

.posted {
  margin-top: 12px;
  font-size: 12px;
  color: #ffffff;
}

/**/

.divider {
  margin: 40px auto 20px;
  width: 85%;
  border: none;
  height: 1px;
  background: #e0e0e0;
}

.footer-compact {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;

  font-size: 13px;
  color: #666;
  padding-bottom: 30px;
  flex-wrap: wrap;
}

.footer-compact .dot {
  color: #aaa;
}
